#new-visit-form {
    max-width: 600px;
}

.form-control {
    color: #0e0c16;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.form-control:focus {
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: none;
}

.invalid-feedback {
    color: #0e0c16;
}

.map-container {
    position: relative;
    height: 300px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.map-container main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}


.search-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 90%;
    max-width: 400px;
}

.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background: $primary;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.visits-list-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: 300px;
    max-height: 50%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
