/* Fade transition for showing/hiding the form */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
    transform: translateY(-20px);
}

/* Resize transition for reordering columns */
.resize-enter-active,
.resize-leave-active {
    transition: all 0.5s ease-in-out;
}


/* Estilos para la transición de resize */
.resize-enter-active,
.resize-leave-active {
  transition: all 0.5s ease-in-out;
}

.resize-enter,
.resize-leave-to {
  /* Ajusta la propiedad que deseas animar durante la transición */
  opacity: 0;
  transform: scale(0.95);
}
